{% extends 'base.html' %} {% load static %} {% block content %}

<!-- scripts for search bars -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

<div class="container">
  <div class="jumbotron text-center" style="background-color: #a5dfed">
    <h2><b>ORGANIZER DASHBOARD</b></h2>
  </div>
</div>
<br />
<div class="container">
  <div class="row-sm-4">
    <div class="text-left">
      <div class="mb-3 d-flex justify-content-between">
        <h3><b>My Events</b></h3>
        <div>
          <a
            href="{% url 'app:create_event' %}"
            type="button"
            class="btn btn-primary"
            id="id-CreateEventBtn"
            name="CreateEventBtn"
          >
            Create Event
          </a>
        </div>
      </div>
      <table
        id="id-orgevents-list"
        class="table table-striped table-bordered table-sm table-hover"
        cellspacing="0"
        width="100%"
        style="background-color: #e9fbff"
      >
        <thead>
          <tr style="text-align: center">
            <th class="th-sm">ID</th>
            <th class="th-sm">Title</th>
            <th class="th-sm">Type</th>
            <th class="th-sm">Description</th>
            <th class="th-sm">Upvotes</th>
            <th class="th-sm">Start Date</th>
            <th class="th-sm">End Date</th>
            <th class="th-sm">Participants</th>
            <th class="th-sm">Action</th>
          </tr>
        </thead>
        <tbody id="id-orgEvents-table">
          {% for myevent in myEvents %}
          <tr style="text-align: center">
            <td>{{myevent.id}}</td>
            <td>{{myevent.title}}</td>
            <td>{{myevent.type}}</td>
            <td>{{myevent.description}}</td>
            <td>{{myevent.upvotes}}</td>
            <td>{{myevent.datetime_start}}</td>
            <td>{{myevent.datetime_end}}</td>
            <td>{{myevent.participants.count}}
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#ModalViewParticipant-{{myevent.id}}"
              >
              View list
              </button>
              <div
                class="modal fade"
                id="ModalViewParticipant-{{myevent.id}}"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2 class="modal-title" id="id-modal-delete">
                        Participants
                      </h2>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>

                    <form id="ViewParticipantForm" method="post">
                      {% csrf_token %}

                      <div class="modal-body">
                        <input type="text" name="eventID" hidden />
                        Check if your friends are coming!
                       
                      </div>
                      
                      
                    </form>
                  </div>
                </div>
              </div>
              
              
            </td>
            <td>
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#ModalViewEvent-{{myevent.id}}"
              >
                View
              </button>

              <button
                type="button"
                class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#modalDelete-{{myevent.id}}"
              >
                Delete
              </button>

              <div
                class="modal fade"
                id="ModalViewEvent-{{myevent.id}}"
                tabindex="-1"
                role="dialog"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2 class="modal-title" id="id-modalEvent-view">
                        Update Event
                      </h2>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>

                    <form id="UpdateEventForm" method="POST">
                      {% csrf_token %}

                      <div class="modal-body">
                        <div class="row mt-4">
                          <input
                            type="text"
                            value="{{myevent.id}}"
                            name="event-id"
                            hidden
                            readonly
                          />
                          <div class="col-sm-6 text-start">
                            <label>Event Title</label>
                            <input
                              type="text"
                              class="form-control"
                              id="id-event-title"
                              name="eventtitle"
                              placeholder="Event Title"
                              required="required"
                              value="{{myevent.title}}"
                            />
                          </div>
                          <div class="col-sm-6 text-start">
                            <label>Event Type</label>
                            <select
                              name="eventtype"
                              id="id-event-type"
                              class="form-select form-select-md"
                              aria-label=".form-select-md example"
                              value="{{myevent.type}}"
                            >
                              <!-- <option selected>Open this select menu</option> -->
                              <option value="Trail Biking">Trail Biking</option>
                              <option value="Basketball">Basketball</option>
                              <option value="Zumba">Zumba</option>
                              <option value="Univercity">Univercity</option>
                              <option value="Run-for-a-cause">
                                Run-for-a-cause
                              </option>
                            </select>
                          </div>
                        </div>
                        <br />
                        <div class="row">
                          <div class="col-sm-12 text-start">
                            <label>Description</label>
                            <textarea
                              name="description"
                              id="id-description"
                              class="form-control"
                              cols="30"
                              rows="5"
                              required
                              style="resize: none"
                            >
{{myevent.description}}</textarea
                            >
                          </div>
                        </div>
                        <br />
                        <div class="row">
                          <div class="col-sm-5 text-start">
                            <label>Start Date</label>
                            <input
                              type="date"
                              class="form-control"
                              name="startdate"
                              required
                              value="{{myevent.datetime_start}}"
                            />
                          </div>
                          <div class="col-sm-5 text-start">
                            <label>End Date</label>
                            <input
                              type="date"
                              class="form-control"
                              name="enddate"
                              required="required"
                              value="{{myevent.datetime_end}}"
                            />
                          </div>
                          <div class="col-sm-2 text-start">
                            <label>Upvotes</label>
                            <input
                              type="text"
                              class="form-control"
                              name="upvotes"
                              value="{{myevent.upvotes}}"
                              readonly
                            />
                          </div>
                        </div>
                      </div>

                      <div class="modal-footer">
                         <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >Cancel</button>
                          <!---
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal"
                        >
                          Cancel
                        </button>
                        !-->
                        <button
                          type="submit"
                          id="UpdateBtn"
                          name="UpdateBtn"
                          class="btn btn-primary"
                        >
                          Update
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Modal View Ends -->

              <!-- Modal Delete -->
              <div
                class="modal fade"
                id="modalDelete-{{myevent.id}}"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2 class="modal-title" id="id-modal-delete">
                        Delete Event
                      </h2>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>

                    <form id="DeleteEventForm" method="post">
                      {% csrf_token %}

                      <div class="modal-body">
                        <input type="text" name="eventID" hidden />
                        Are you sure you want to delete this event?
                      </div>
                      <input
                        type="text"
                        value="{{myevent.id}}"
                        name="event-id"
                        hidden
                        readonly
                      />
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal"
                        >
                          No
                        </button>
                        <button
                          type="submit"
                          id="DeleteBtn"
                          name="DeleteBtn"
                          class="btn btn-danger"
                        >
                          Yes
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Modal Delete Ends -->
            </td>
          </tr>
          {% empty %}
          <tr class="text-center">
            <td>No Events</td>
            <td>No Events</td>
            <td>No Events</td>
            <td>No Events</td>
            <td>No Events</td>
            <td>No Events</td>
            <td>No Events</td>
            <td>No Events</td>
            <td>No Events</td>
          </tr>
          {% endfor %}
        </tbody>
<!--
        <tfoot>
          <tr style="text-align: center">
            <th class="th-sm">ID</th>
            <th class="th-sm">Title</th>
            <th class="th-sm">Type</th>
            <th class="th-sm">Description</th>
            <th class="th-sm">Upvotes</th>
            <th class="th-sm">Start Date</th>
            <th class="th-sm">End Date</th>
            <th class="th-sm">Participants</th>
            <th class="th-sm">Action</th>
          </tr>
        </tfoot>
-->
      </table>

      <br /><br />

      <h3><b>Participant Join Requests</b></h3>
      <table
        id="id-join-request"
        class="table table-striped table-bordered table-sm table-hover"
        cellspacing="0"
        width="100%"
        style="background-color: #e9fbff"
      >
        <thead>
          <tr style="text-align: center">
            <th class="th-sm">User ID</th>
            <th class="th-sm">Username</th>
            <th class="th-sm">Event ID</th>
            <th class="th-sm">Event Name</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody id="id-participantRequest-table">
          {% for req in requests %}
          <tr style="text-align: center">
            <td>{{req.user_id}}</td>
            <td>{{req.user}}</td>
            <td>{{req.event_id}}</td>
            <td>{{req.event}}</td>
            <td>
              <div class="text-center">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input
                    type="number"
                    name="request-id"
                    value="{{req.id}}"
                    hidden
                    readonly
                  />
                  <input
                    type="number"
                    name="event-id"
                    value="{{req.event_id}}"
                    hidden
                    readonly
                  />
                  <input
                    type="number"
                    name="user-id"
                    value="{{req.user_id}}"
                    hidden
                    readonly
                  />
                  <button
                    name="denyParticipant"
                    type="submit"
                    class="btn btn-secondary"
                  >
                    Deny
                  </button>
                  <button
                    name="acceptParticipant"
                    type="submit"
                    class="btn btn-primary"
                  >
                    Accept
                  </button>
                </form>
              </div>
            </td>
          </tr>
          {% empty %}
          <tr class="text-center">
            <td>No Request</td>
            <td>No Request</td>
            <td>No Request</td>
            <td>No Request</td>
            <td>No Request</td>
          </tr>
          {% endfor %}
        </tbody>
<!--
        <tfoot>
          <tr style="text-align: center">
            <th>User ID</th>
            <th>Username</th>
            <th>Event ID</th>
            <th>Event Title</th>
            <th>Action</th>
          </tr>
        </tfoot>
-->
      </table>

      <!-- <script>
						$(document).ready(function () {
						  $("#id-event-input").on("keyup", function () {
							var value = $(this).val().toLowerCase();
							$("#id-orgEvents-table tr").filter(function () {
							  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
							});
						  });
						});
					</script>

					<script>
						$(document).ready(function () {
						   $("#id-org-input").on("keyup", function () {
							 var value = $(this).val().toLowerCase();
							$("#id-participantRequest-table tr").filter(function () {
							  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
							});
						  });
						});
					</script> -->
    </div>
  </div>
</div>

{% endblock content %}
