
*.pyc
*.pyc
metroEvents/app/migrations/0002_auto_20210318_1934.py
metroEvents/app/migrations/0003_auto_20210318_1934.py
metroEvents/app/migrations/0001_initial.py
*.pyc
*.pyc
metroEvents/metroEvents/__pycache__/wsgi.cpython-38.pyc
metroEvents/app/migrations/*
metroEvents/app/migrations/0001_initial.py
