{% extends 'base.html' %} 

{% load static %}

{% block content %}

	<form id = "form1" action="" method="POST" autocomplete="off" enctype="multipart/form-data">
		{% csrf_token %}
		<div class="form-group">
			<div class = "container">
				<center><h2>CREATE EVENT</h2></center>
				<div class = "row">
					<div class =  "col-sm-6">
						<label>Event Title</label>
						<input type="text" class="form-control" id="id-event-title" name = "eventtitle" placeholder="Event Title" required="required">
					</div>	
					<div class =  "col-sm-6">
						<label>Event Type</label>
						<input type="text" class="form-control" id="id-event-type" name = "eventype" placeholder="Event Type" required="required">
					</div>	
				</div>
				<br>
				<div class = "row">
					<div class =  "col-sm-12">
						<label>Description</label>
						<input type="text" class="form-control" id="id-description" name = "description" placeholder="Description" required="required">
					</div>	
				</div>
				<br>
				<div class = "row">
					<div class = "col-sm-6">
						<label>Start Date</label>
						<input type="date" class="form-control" id="id-start-date" name ="startdate" required="required">
					</div>
					<div class = "col-sm-6">
						<label>End Date</label>
						<input type="date" class="form-control" id="id-end-date" name ="enddate" required="required">
					</div>
				</div>

				<!-- upvotes -->

			<br><br>

			<div class="d-flex justify-content-">
				<button type = "reset" value="reset" class="btn btn-secondary">Cancel</button>
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</form>
{% endblock content %}
		

