{% extends 'base.html' %} 

{% load static %}

{% block content %}

		<div class="form-group">
			<div class = "container">
				<div class="d-flex justify-content-center">
					<h2>CREATE EVENT</h2>
				</div>
				<div class = "row mt-4">
					<div class = "col-sm-6">
						<label>Event Title</label>
						<input type="text" class="form-control" id="id-event-title" name = "eventtitle" placeholder="Event Title" required="required">
					</div>	
					<div class = "col-sm-6">
						<label>Event Type</label>
						<select name = "eventtype" id = "id-event-type" class="form-select form-select-md" aria-label=".form-select-md example">
							<option selected>Open this select menu</option>
							<option value="1">Trail Biking</option>
							<option value="2">Basketball</option>
							<option value="3">Zumba</option>
							<option value="3">Univercity</option>
							<option value="3">Run-for-a-cause</option>
						</select>
					</div>
				</div>
				<br>
				<div class = "row">
					<div class =  "col-sm-12">
						<label>Description</label>
						<textarea name="description" id="id-description" class="form-control" cols="30" rows="5" required style="resize: none;" ></textarea>
					</div>	
				</div>
				<br>
				<div class = "row">
					<div class = "col-sm-5">
						<label>Start Date</label>
						<input type="date" class="form-control" id="id-start-date" name ="startdate" required="required">
					</div>
					<div class = "col-sm-5">
						<label>End Date</label>
						<input type="date" class="form-control" id="id-end-date" name ="enddate" required="required">
					</div>
					<div class = "col-sm-2">
						<label>Upvotes</label>
						<input type="text" class="form-control" id="id-upvotes" name ="upvotes">
					</div>
				</div>

			<br><br>

			<form id = "form1" action="" method="POST" autocomplete="off" enctype="multipart/form-data">
				{% csrf_token %}			
				<div class="d-flex justify-content-evenly">
					<button type = "reset" value = "reset" class = "btn btn-secondary">Cancel</button>
					<button type = "submit" class = "btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
		
{% endblock content %}
		

