<html>
<head>
  <title>My first styled page</title>
  <style type="text/css">
	body {
		padding-left: 20em;
		color: white;

	}
	#navbar {
    	position: absolute;
    	top: 2em;
    	left: 2em;
    	width: 15em;
    	height: 30em;
    	background-color: #0F8A5F;
	}
	#rectangle{
	    width:220px;
	    height: 60px;
	    background: #34A65F;
	    right: 100px;
	    border-radius: 10px;
	    padding-left: 10px;
	}

  </style>
</head>

<body >
<div id="navbar">
	<h2 align="center"> Notification Panel </h2>
	<div id="rectangle" style="padding-top: 11px;">
		Title: <br>
		Description:
	</div>
	<br>
	<div id="rectangle" style="padding-top: 11px;">
		Title: <br>
		Description:
	</div>
	<br>
	<div id="rectangle" style="padding-top: 11px;">
		Title: <br>
		Description:
	</div>
	<br>
	<div id="rectangle" style="padding-top: 11px;">
		Title: <br>
		Description:
	</div>
</div>


</body>
</html>