{% extends 'base.html' %} 
{% load static %}

{% block content %}
	
    <div class ="container">
      <div class="text-left">
        <h2><b>REGULAR USER DASHBOARD</b></h2>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="row-sm-4">
        <div class="text-left">
          <h3 class="font-weight-bold text-dark">EVENTS PARTICIPATED</h3>
      </div>
          <div class="table">
            <table class="table table-bordered" width="90%" cellspacing="3">
                <thead style="text-align: center">
                    <tr style="background-color: #c1e3f2; color: black">
                      <th>Title</th>
                      <th>Type</th>
                      <th>Description</th>
                      <th>Date Time Start</th>
                      <th>Date Time End</th>
                      <th>Review</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr style="text-align: center">
                      <td>Title</td>
                      <td>Type</td>
                      <td>Description</td>
                      <td>Date Time Start</td>
                      <td>Date Time End</td>
                      <td>
                        <center>
                          <div class="text-center">
                            <button type="submit" class="btn btn-primary">
                              Upvote
                            </button>
                            <button type="submit" class="btn btn-primary">
                              Comment
                            </button>
                          </div>
                        </center>
                      </td>
                    </tr>
                  </tbody>  
            </table>  
        </div>
      </div>
    </div>
    <br>
    <div class="container">
        <div class="row-sm-4">
          <form id = "form1" action="" method="POST" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            <div align="right">
              <button type="button" class="btn btn-primary" >Request To Become Organizer</button> 
            </div>
            <div class="text-left">
                <h3 class="font-weight-bold text-dark">EVENTS</h3>
            </div>

            <div class="table">
                <table class="table table-bordered" width="90%" cellspacing="3">
                    <thead style="text-align: center">
                        <tr style="background-color: #c1e3f2; color: black">
                          <th>Title</th>
                          <th>Type</th>
                          <th>Description</th>
                          <th>Date Time Start</th>
                          <th>Date Time End</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr style="text-align: center">
                          <td>Title</td>
                          <td>Type</td>
                          <td>Description</td>
                          <td>Date Time Start</td>
                          <td>Date Time End</td>
                          <td>
                            <center>
                              <div class="text-center">
                                <button type="submit" class="btn btn-primary">
                                  Request to join
                                </button>
                                <button type="reset" class="btn btn-secondary">
                                  Cancel
                                </button>
                              </div>
                            </center>
                          </td>
                        </tr>
                      </tbody>  
                </table>  
            </div>
          </form>
        </div>

    </div>
		
  {% endblock content %}


