{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
  <div class="text-left">
    <h2><b>REGULAR USER DASHBOARD</b></h2>
  </div>
</div>
<br />
<div class="container">
  <div class="row-sm-4">
    <div class="text-left">
      <h3 class="font-weight-bold text-dark">EVENTS PARTICIPATED</h3>
    </div>
      <table class="table table-bordered" id="id-events-participated" width="90%" cellspacing="3">
        <thead style="text-align: center">
          <tr style="background-color: #c1e3f2; color: black">
            <th>Title</th>
            <th>Type</th>
            <th>Description</th>
            <th>Date Time Start</th>
            <th>Date Time End</th>
            <th>Review</th>
          </tr>
        </thead>
        <tbody>
          <tr style="text-align: center">
            <td>Title</td>
            <td>Type</td>
            <td>Description</td>
            <td>Date Time Start</td>
            <td>Date Time End</td>
            <td>
              <center>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Upvote</button>
							    <button type="submit" class="btn btn-primary">Comment</button>
                </div>
              </center>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
<br />
<div class="container">
  <div class="row-sm-4">
    <div align="right">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
      <button type="button" class="btn btn-primary">
        Request To Become Organizer
      </button>
      </form>
      {% endfor %}
    </div>
    <!-- Modal Request To Join-->
    <div class="modal fade" id="ModalRequestJoin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel" >Request To Become Organizer</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <!-- Modal Body -->
          <div class="modal-body">
            <div class = "row">
              <div class =  "col-sm-6">
                <label>Firstname</label>
                <input type="text" class="form-control" id="id-firstname" required="required">
              </div>
              <div class =  "col-sm-6">
                <label>Lastname</label>
                <input type="text" class="form-control" id="id-lastname" required="required">
              </div>
              <div class =  "col-sm-6">
                <label>Username</label>
                <input type="text" class="form-control" id="id-username" required="required">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
        <!-- Message -->
        <div class="modal fade" id="submitModal" data-backdrop="static">
          <div class="modal1-dialog">
            <div class="modal-content">
              <div class="modal-header">
              </div>
              <div class="modal-body">
                <p><center>Your request was successfully submitted. Wait for the organizers approval</center></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Message Ends -->
          <!-- Modal Body End -->

    <div class="text-left">
      <h3 class="font-weight-bold text-dark">EVENTS</h3>
    </div>
      <table class="table table-bordered" id="id-events-list" width="90%" cellspacing="3">
        <thead style="text-align: center">
          <tr style="background-color: #c1e3f2; color: black">
            <th>Title</th>
            <th>Type</th>
            <th>Description</th>
            <th>Date Time Start</th>
            <th>Date Time End</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
          <tr style="text-align: center">
            <td>{{event.title}}</td>
            <td>{{event.type}}</td>
            <td>{{event.description}}</td>
            <td>{{event.datetime_start}}</td>
            <td>{{event.datetime_end}}</td>
            <td>
              <center>
                <div class="text-center">
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input
                      type="number"
                      name="event-id"
                      value="{{event.id}}"
                      hidden
                    />
                    <button
                      name="requestToJoin"
                      type="submit"
                      class="btn btn-primary"
                      data-toggle="modal" 
                      data-target="#ModalRequestToJoin"
                    >
                      Request to join
                    </button>
                  </form>
                </div>
              </center>
            </td>
          </tr>

            <!-- Modal Request To Join-->
            <div class="modal fade" id="ModalRequestJoin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel" >Request To Join</h2>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <!-- ModalBody -->
                  <div class="modal-body">
                    <div class = "row">
                      <div class =  "col-sm-6">
                        <label>Firstname</label>
                        <input type="text" class="form-control" id="id-firstname" required="required">
                      </div>
                      <div class =  "col-sm-6">
                        <label>Lastname</label>
                        <input type="text" class="form-control" id="id-lastname" required="required">
                      </div>
                      <div class =  "col-sm-6">
                        <label>Username</label>
                        <input type="text" class="form-control" id="id-username" required="required">
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
                <!-- Message -->
                <div class="modal fade" id="submitModal" data-backdrop="static">
                  <div class="modal1-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                      </div>
                      <div class="modal-body">
                        <p><center>Your request was successfully submitted. Wait for the admins approval</center></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Message Ends -->
                  <!-- Modal Body End -->

                </div>
              </div>
            </div>
            <!-- Modal Request To Join Ends -->
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>

{% endblock content %}

