{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <title>Document</title>

    <style type="text/css">
      #notification {
        margin-top: 10px;
        margin-bottom: 10px;
        position: absolute;
        top: 60px;
        right: 2em;
        width: 15em;
        height: 30em;
        background-color: #0f8a5f;
        color: white;
        border-radius: 5px;
      }
      .notification-container {
        max-height: 27em;
        overflow: auto;
      }
      .rectangle {
        width: 200px;
        height: auto;
        background-color: #34a65f;
        border-radius: 10px;
        padding: 8px;
        margin: 15px 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'app:login' %}"
            >9 Metro Events</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              {% if user.is_authenticated%}
              <li class="nav-item">
                <a
                  class="nav-link"
                  aria-current="page"
                  href="{% url 'app:user' %}"
                  >User</a
                >
              </li>
              {% endif %} {% if user.is_superuser or user.is_staff %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'app:organizer' %}"
                  >Organizer</a
                >
              </li>
              {% endif %} {% if user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'app:admin' %}"
                  >Administrator</a
                >
              </li>
              {% endif %}
            </ul>
          </div>
          {% if user.is_authenticated %}
          <button onclick="myFunction()" class="btn" style="margin-right: 20px">
            Notifications
          </button>
          <div id="myDIV" style="display: none">
            {% include './app/notification.html' %}
          </div>
          <a class="navbar-brand" href="{% url 'app:logout' %}">Logout</a>
          {% endif %}
        </div>
      </nav>
    </div>
    {% block content %} {% endblock %}

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>

    <script>
      function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }
    </script>

    {% block scripts %}
    <!-- Additional scripts tags -->
    {% endblock %}
  </body>
</html>
